.save-button {
  margin-bottom: 18px;
}

.language-selector {
  width: 58px;
  font-size: small;
}

.language-selector vaadin-select-item {
  font-size: 13px;
}

@media only screen and (max-width: 500px) {
  .otsikko {
    margin-top: 110px;
  }
}

/* This is a single-line comment */
