@import url('./main-layout.css');
@import url('./views/oppitunnit-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('./views/kurssi-view.css');
@import url('./views/register.css');
